.products {
    padding: 30px;
    display: flex;
    flex-direction: column; /* Change to a column layout for mobile */
  }
  
  .products .left {
    flex: 1;
    position: sticky;
    height: 100%;
    top: 50px;
  }
  
  .products .filterItem {
    margin-bottom: 20px; /* Reduce margin for mobile */
  }
  
  .products .filterItem h2 {
    font-weight: 400;
    margin-bottom: 10px; /* Reduce margin for mobile */
  }
  
  .products .filterItem .inputItem {
    margin-bottom: 5px; /* Reduce margin for mobile */
  }
  
  .products .filterItem .inputItem label {
    margin-left: 5px; /* Reduce margin for mobile */
  }
  
  .right {
    flex: 3;
  }
  
  .right .catImg {
    width: 100%;
    height: auto; /* Change height to auto for responsive resizing */
    object-fit: cover;
    margin-bottom: 30px; /* Reduce margin for mobile */
  }
  
  /* Responsive Styles */
  @media (min-width: 768px) {
    .products {
      padding: 30px 50px;
      flex-direction: row; /* Change to a row layout for PC */
    }
  
    .products .left {
      top: 0;
    }
  
    .products .filterItem {
      margin-bottom: 30px;
    }
  
    .products .filterItem h2 {
      margin-bottom: 20px;
    }
  
    .products .filterItem .inputItem {
      margin-bottom: 10px;
    }
  
    .products .filterItem .inputItem label {
      margin-left: 10px;
    }
  
    .right .catImg {
      margin-bottom: 50px;
    }
  }

  .left.visible {
    display: block;
    
  }
  
  .left.hidden {
    display: none;
  }